.post_content {
  height: 100px;
  width: 500px;
  border: none;
  outline: none;
  margin: 15px 0;
  display: block;
  background-color: rgb(228, 131, 5);
  resize: none;
  overflow: auto;
  padding: 10px;
}

.add_post {
  display: block;
  width: 520px;
  height: 30px;
  background-color: rgb(255, 145, 0);
  cursor: pointer;
  outline: none;
  border-radius: 20px;
}

.posts {
  border: 1px solid black;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
