.item {
  color: gold;
  margin: 20px;
  padding: 15px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  text-align: center;
}

.item:hover {
  background-color: rgb(182, 121, 41);
}

.item img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  display: inline-block;
}

.item p {
  text-align: center;
  color: orange;
  font-weight: bold;
  text-decoration: underline;
}

.likes {
}
