body {
  background: #000 url('https://bitmap.ru/uploads/gallery/luckystone/09_ls.jpg');
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  background-color: rgb(149, 110, 59);
  padding: 5px 40px;
  height: auto;
}

.app-wrapper {
  display: grid;

  grid-template-areas:
    'header header'
    'nav main';
  grid-template-columns: 2fr 10fr;
}

main {
  grid-area: main;
  padding: 20px;
  border-right: 1px solid black;
  overflow: auto;
}
